
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-image: linear-gradient(15deg, #021824 0%, #26353d00 100%);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  
 min-height: 100vh;
}

.navbar{
  position: fixed;

}
/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

body, html, #root {
  min-height: 100dvh;
}

.spotify-embed {
border-radius: 20px;
}

.chat-tabs{
  justify-content: center;
}